# Server Configuration
PORT=5000

# MongoDB Cloud Connection URI
# Replace with your MongoDB Atlas Connection String from MONGODB_SETUP_GUIDE.md
# Example: mongodb+srv://admin:password123@cluster0.abcde.mongodb.net/dts_database?retryWrites=true&w=majority
MONGODB_URI=mongodb://localhost:27017/dts_database

# Secret key for JWT Authentication
JWT_SECRET=premium_dts_secret_key_2026_super_secure
